django
psycopg2
gunicorn
djangorestframework
django-cors-headers
docker/dependencies/syllable-samples-0.2.1.tar.gz

requests
# requests SSL support requires these three
pyOpenSSL
ndg-httpsclient
pyasn1
