# --- App dependencies
django
psycopg2
gunicorn
djangorestframework
django-cors-headers
docker/dependencies/syllable-samples-0.2.1.tar.gz
docker/dependencies/tonerecorder-1.1.6.tar.gz
docker/dependencies/hanzi-basics-1.1.2.tar.gz
docker/dependencies/tonetutor_usermgmt-0.0.3.tar.gz
docker/dependencies/ttlib-0.2.3.tar.gz
pytz
stripe
pydevd==1.0.0

# Needed by ttlib
pytaglib
mutagen

# --- Requests
requests
# requests' SSL support requires these three
pyOpenSSL
ndg-httpsclient
pyasn1

# --- Required for tests
pytest
mock
six==1.10.0     # override to support mock, something else installs 1.5.2
